{% extends 'shared/curatorpanel.html' %}


{% block pagetitle %}
{% include 'shared/messages.html' %}

<div class="d-flex justify-content-between">
    <h1>View Animal Details</h1>
</div>
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'curator_manage_animals' %}">Manage animals</a></li>
      <li class="breadcrumb-item active">View Animal / {{animal.given_name}}</li>
    </ol>
</nav>

<br>
{% endblock pagetitle %}

{% block display %}

<div class="row">
    <div class="col-sm-8 offset-2 bg-info opacity-0.2 shadow rounded">
        <table class="table table-stripped" style="border: black;">
            <thead>
              <tr class="text-center fw-bold fs-5">
                <th colspan="2" style="width: 100%;border-bottom: 2px solid black;">{{animal.given_name}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2" class="fw-bold text-center">
                    <img src="{{animal.image1.url}}" alt="" height="80px" width="100px">
                    
                    {% if animal.image2 != '' %}
                    <img src="{{animal.image2.url}}" alt="" height="80px" width="100px">    
                    {% endif %}
                    {% if animal.image3 != '' %}
                    <img src="{{animal.image3.url}}" alt="" height="80px" width="100px">    
                    {% endif %}
                </td>
              </tr>
              <tr>
                <td class="fw-bold w-50">General Name</td>
                <td> {{animal.akind.general_name}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Gender</td>
                
                {% if animal.gender == 'm' %}
                <td> Male </td>
                {% else %}
                <td> Female </td>
                {% endif %}

              </tr>
              <tr>
                <td class="fw-bold">Height</td>
                <td> {{animal.height}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Weight</td>
                <td> {{animal.weight}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Date joined</td>
                <td> {{animal.date_joined}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Birth date</td>
                <td> {{animal.birth_date}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Death date</td>
                <td> {{animal.death_date}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Death cause</td>
                <td> {{animal.death_cause}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Incineration</td>
                <td> {{animal.incineration}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Location</td>
                <td> {{animal.location}} </td>
              </tr>
              <tr>
                <td class="fw-bold">area ID</td>
                <td> {{animal.area_id}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Health status</td>
                <td> {{animal.health_status}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Diatery Req.</td>
                <td> {{animal.diatery_req}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Species</td>
                <td> {{animal.akind.species}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Avg. lifespan</td>
                <td> {{animal.akind.avg_lifespan}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Habitat</td>
                <td> {{animal.akind.habitat}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Origin</td>
                <td> {{animal.akind.origin}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Order</td>
                <td> {{animal.akind.Aorder}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Class</td>
                <td> {{animal.akind.class_id.Aclass}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Characteristics</td>
                <td> {{animal.akind.characteristics}} </td>
              </tr>
              <tr>
                <td class="fw-bold">Caretaker</td>
                <td> {{animal.caretaker.user}} </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

{% endblock display %}