{% extends 'shared/curatorpanel.html' %}
}{% load static %}

{% block pagetitle %}
{% include 'shared/messages.html' %}

<div class="d-flex justify-content-between">
    <h1>Manage Events</h1>
</div>

<br>
{% endblock pagetitle %}


{% block display %}


    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripped datatable" style="height: inherit;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Starting date</th>
                        <th>Ending date</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Participants</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                
                {% for event in events %}
                <tr style="padding-left: 50px;">
                    <td>{{event.ename}}</td>
                    <td>{{event.estart}}</td>
                    <td>{{event.eend}}</td>
                    <td>
                        <img src="{{event.eimage.url}}" height="50px" width="100px">
                    </td>
                    <td>{{event.estatus}}</td>
                    <td>
                    {% for participant in participants  %}
                        
                        {% if participant.event.id == event.id %}
                            {{participant.animal}}
                        {% else %}
                           <h2>No participants</h2> 
                        {% endif %}
                        {% endfor %}
                    </td>         
                        
                        
                    <td>   
                        {% if event.estatus == 'finished' %}
                            <i>Not available</i>
                        {% else %}
                        <a href="{% url 'curator_add_participants' event.id %}" class="btn btn-success text-white">
                          Add Participants
                        </a>
                        <a href="{% url 'curator_remove_participants' event.id %}" class="btn btn-danger text-white">
                            Remove Participants
                          </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                    
            </table>
        </div>
    </div>

  
  
        
{% endblock display %}
    