{% extends 'shared/curatorpanel.html' %}


{% block pagetitle %}    

<div class="d-flex justify-content-between">
    <h1>Manage Animals</h1>
    <a href="{% url 'curator_add_animal' %}" class="btn btn-success text-white" style="width:max-content;"> <b>+ Add Animal</b> </a>
</div>

<br>
{% include 'shared/messages.html' %}
{% endblock pagetitle %}


{% block display %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripped datatable">
                <thead>
                    <tr>
                        <th>SI No.</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Birth Date</th>
                        <th>Date Joined</th>
                        <th>Caretaker</th>
                        <th>Class</th>
                        <th>Status</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                
                
                {% for animal in animals %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{animal.given_name}}</td>
                        
                        {% if animal.gender == 'm' %}
                            <td>Male</td>
                        {% else %}
                            <td>Female</td>
                        {% endif %}
                            
                        <td>{{animal.birth_date}}</td>
                        <td>{{animal.date_joined}}</td>
                        <td>{{animal.caretaker.user}}</td>
                        <td>{{animal.akind.class_id.Aclass}}</td>
                        
                        
                        {% if animal.status == 1 %}
                           <td>Present</td> 
                        {% elif animal.status == -1 %}
                           <td>Unverified</td>
                        {% elif animal.status == -2 %}
                           <td><i class="fw-bold">Rejected</i>: {{animal.reason}} </td>
                        {% else %}
                           <td>Unavailable</td> 
                        {% endif %}
                            
                        <td>
                            <a href="{% url 'curator_view_animal_details' animal.id %}" class="btn btn-secondary"><i class="bi bi-eye"></i></a>                        
                            <a href="{% url 'curator_update_animal' animal.id %}" class="btn btn-success"><i class="bi bi-pencil"></i></a>
                            
                            {% if animal.status != -1 and animal.status != -2 %}
                            <a href="{% url 'curator_change_animal_status' animal.id %}" onclick="return confirm('Sure to change status?')" class="btn btn-danger">change status</a>
                            {% endif %}
                                
                        </td>
                    </tr>
                {% endfor %}
               
                    
            </table>
        </div>
    </div>
{% endblock display %}