{% extends 'shared/curatorpanel.html' %}
{% load static %}

{% block title %}
  <title>Manage enclosures</title>
{% endblock title %}

{% block pagetitle %}
    
<div class="d-flex justify-content-between">
    <h1>Manage Enclosures</h1>
    <a href="{% url 'curator_view_dismantled_enclosures' %}" class="btn btn-secondary fw-bold"><i class="bi bi-eye"></i>&nbsp;&nbsp; Dismantled Enclosures</a>
    <button data-toggle="modal" data-target="#enclosuremodal" data-backdrop="static" class="btn btn-success text-white fw-bold" style="width:max-content;">+ Add Enclosure </button>
</div>
{% include 'shared/messages.html' %}

<br>
{% endblock pagetitle %}


{% block display %}
{% include 'add enclosure.html' %}
<div class="row">
    <div class="col-sm-8 offset-1">
        <table class="table table-stripped datatable" style="height: inherit;">
            <thead>
                <tr>
                    <th>SI No.</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            
            
            {% for enclosure in enclosures %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{enclosure.name}}</td>
                
                {% if enclosure.archieved == True %}
                    <td>Archived</td>
                {% else %}
                    <td>Opened</td>
                {% endif %}

                <td>
                    {% if enclosure.archieved == False %}
                    <a href="{% url 'curator_change_enclosurestatus' enclosure.id %}" onclick="return confirm('do you want to archive?')" class="btn btn-danger text-white archive p-1 my-1 mx-5 w-25">
                        Archive
                    </a>
                    {% else %}
                    <a href="{% url 'curator_change_enclosurestatus' enclosure.id %}" onclick="return confirm('do you want to unarchive?')" class="btn btn-success text-white archive px-0 my-1 mx-5 w-25">
                        Unarchive
                    </a>
                    {% endif %}

                    <button data-toggle="modal" data-target="#dismantlemodal{{enclosure.id}}" data-backdrop="static" class="btn btn-danger">Dismantle</button>
                    {% include 'dismantle enclosure.html' %}

                </td>
                    
            </tr>
            {% endfor %}
                
        </table>
    </div>
</div>
    

{% if error %}
    <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#enclosuremodal').modal('show');
        })
    </script>
{% endif %}




{% endblock display %}
    