{% extends 'shared/curatorpanel.html' %}
{% load static %}

{% block title %}
  <title>Manage purchases</title>
{% endblock title %}

{% block pagetitle %}


<div class="d-flex justify-content-between">
    <h1>Manage Purchases</h1>
    <button data-toggle="modal" data-target="#purchasemodal" data-backdrop="static" class="btn btn-success text-white fw-bold" style="width:max-content;">+ Add Purchase </button>
</div>

{% include 'shared/messages.html' %}
{% endblock pagetitle %}

{% block display %}
{% include 'add purchases.html' %}

<div class="row">
    <div class="col-sm-10 offset-1">
        <table class="table table-stripped datatable" style="height: inherit;">
            <thead>
                <tr>
                    <th>SI No.</th>
                    <th>Item</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Total Price</th>

                    <th colspan="2">Action</th>
                </tr>
            </thead>
            
            
            {% for purchase in purchases %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{purchase.item}}</td>
                <td>{{purchase.pdate}}</td>
                <td>{{purchase.quantity}}</td>
                <td>{{purchase.unit}}</td>
                <td>{{purchase.price}}</td>

                <td>
                    <a href="{% url 'curator_delete_purchase' purchase.id %}" onclick="return confirm('sure to delete?')" class="btn btn-danger text-white p-1 my-1">Delete</a>
                </td>
                    
            </tr>
            {% endfor %}
                
        </table>
    </div>
</div>
    

{% if error %}
    <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#purchasemodal').modal('show');
        })
    </script>
{% endif %}


{% endblock display %}
    