{% extends 'shared/curatorpanel.html' %}
{% load static %}

{% block title %}
  <title>View medicine stocks</title>
{% endblock title %}

{% block pagetitle %}    

<div class="d-flex justify-content-between">
    <h1>View medicines</h1>
</div>

{% include 'shared/messages.html' %}

{% endblock pagetitle %}


{% block display %}

<div class="row">
    <div class="col-sm-8 offset-1">
        <table class="table table-stripped datatable" style="height: inherit;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock</th>
                </tr>
            </thead>
            
            
            {% for medicine in medicines %}
            <tr>
                <td>{{medicine.medicine}}</td>
                
                {% if medicine.stock == 0 %}
                    <td>Stock out</td>
                {% else %}
                    <td>{{medicine.stock}}</td>    
                {% endif %}
                    
            </tr>
            {% endfor %}
                
        </table>
    </div>
</div>
    


{% endblock display %}
    