{% extends 'shared/curatorpanel.html' %}
{% load static %}

{% block title %}
  <title>Animal of the week</title>
{% endblock title %}

{% block pagetitle %}    

<div class="d-flex justify-content-between">
    <h1>Animal of the week</h1>
    <button class="btn btn-success text-white" style="width:max-content;" data-toggle="modal" data-target="#performancemodal" data-backdrop="static"> <b>+ Upload</b> </button>
</div>

{% include 'shared/messages.html' %}

{% endblock pagetitle %}

{% block display %}
{% include 'upload performance.html' %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripped datatable">
                <thead>
                    <tr>
                        <th>SI No.</th>
                        <th>Animal</th>
                        <th>Date</th>
                        <th>Performance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                
                {% for animal in AOW %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{animal.animal.given_name}}</td>
                        <td>{{animal.an_week_date}}</td>
                        <td>
                            <img src="{{animal.performance.url}}" alt="" height="50px" width="100px">
                        </td>
                            
                        <td>
                            <a href="{% url 'curator_remove_animal_performance' animal.id %}" onclick="return confirm('sure to delete?')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
               
                    
            </table>
        </div>
    </div>

    
    {% if error %}
    <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#performancemodal').modal('show');
        })
    </script>
    {% endif %}
        
  
{% endblock display %}