{% extends 'shared/curatorpanel.html' %}
{% load static %}

{% block title %}
  <title>Manage transfers</title>
{% endblock title %}

{% block pagetitle %}

<div class="d-flex justify-content-between">
    <h1>Transfer Details</h1>
    <button class="btn btn-success text-white" style="width:max-content;" data-toggle="modal" data-target="#transfermodal" data-backdrop="static"> <b>+ Add</b> </button>
</div>

{% include 'shared/messages.html' %}
{% endblock pagetitle %}

{% block display %}
{% include 'add transfers.html' %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripped datatable">
                <thead>
                    <tr>
                        <th>SI No.</th>
                        <th>Animal</th>
                        <th>Transfer from</th>
                        <th>Transfer to</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Reason</th>
                        <th>Transport type</th>
                        <th>Transport company</th>
                        <th>Transporter name</th>
                        <th>Contact</th>
                        <th>Expense</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                
                {% for transfer in transfers %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{transfer.animal.given_name}}</td>
                        <td>{{transfer.transfer_from}}</td>
                        <td>{{transfer.transfer_to}}</td>
                        <td>{{transfer.transfer_date}}</td>
                        <td>{{transfer.transfer_time}}</td>
                        <td>{{transfer.reason}}</td> 
                        <td>{{transfer.transport_type}}</td>
                        <td>{{transfer.transport_company}}</td>
                        <td>{{transfer.transporter_name}}</td>
                        <td>{{transfer.transporter_contact}}</td> 
                        <td>{{transfer.expense}}</td>                  
                        <td>
                            <a href="{% url 'curator_remove_animal_transfer' transfer.id %}" onclick="return confirm('sure to delete?')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
               
                    
            </table>
        </div>
    </div>

    
{% if error %}
<script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#transfermodal').modal('show');
    })
</script>
{% endif %}
  
{% endblock display %}