{% extends 'shared/doctorpanel.html' %}
{% load static %}

{% block title %}
<title>View medicines</title>
{% endblock title %}

{% block pagetitle %}

<div class="d-flex justify-content-between">
    <h1>Manage medicines</h1>
    <button data-toggle="modal" data-target="#medicinemodal" data-backdrop="static" class="btn btn-success text-white fw-bold" style="width:max-content;">+ Add Medicine </button>
</div>
{% include 'shared/messages.html' %}

{% endblock pagetitle %}


{% block display %}
{% include 'add medicines.html' %}

<div class="row">
    <div class="col-sm-8 offset-1">
        <table class="table table-stripped datatable" style="height: inherit;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stock</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            
            
            {% for medicine in medicines %}
            <tr>
                <td>{{medicine.medicine}}</td>
                
                {% if medicine.stock == 0 %}
                    <td>Stock out</td>
                {% else %}
                    <td>{{medicine.stock}}</td>    
                {% endif %}
                    

                <td>  
                    <button data-toggle="modal" data-target="#updatemedicinemodal{{medicine.id}}" data-backdrop="static" class="btn btn-block btn-success text-white mx-2">Update</button>
                            {% include 'updatemedicinestocks.html' %}
                    <a href="{% url 'doctor_delete_medicine' medicine.id %}" onclick="return confirm('do you want to delete?')" class="btn btn-danger text-white mx-2">Delete</a>
                </td>
                        {% if update_error %}
                            <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
                            <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
                            <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                            <script>
                                $(document).ready(function() {
                                    $('#updatemedicinemodal{{medicine.id}}').modal('show');
                                })
                            </script>
                        {% endif %}
            </tr>
            {% endfor %}
                
        </table>
    </div>
</div>
    

{% if error %}
    <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#medicinemodal').modal('show');
        })
    </script>
{% endif %}


{% endblock display %}
    