<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
    
    <!-- js files -->
    <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>


   <!-- Template Main CSS File -->
   <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand font-weight-bold" href="#"><h1>ZMS</h1></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% block navbar %}
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'register_visitor' %}">Visitor registration</a>
                </li>
            </ul>
            <div class="ms-auto px-5">
                
                {% if user.is_authenticated %}
                <a href="{% url 'login_authenticated_user' %}" class="btn btn-success">Login</a>
                {% else %}
                <button class="btn btn-success" data-toggle="modal" data-target="#loginmodal">Login</button>
                {% endif %}
                    
                
            </div>
            {% endblock navbar %}
        </div>            
      </nav>

      <div style="padding-top: 100px;">
        {% block display %}
        {% include 'login.html' %}

        {% if error %}
        <script src="{% static 'assets/js/jquery-3.6.3.slim.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $('#loginmodal').modal('show');
            })
        </script>
        {% endif %}


        {% endblock display %}
      </div>
  </body>
</html>
