{% extends 'index.html' %}


{% block display %}
    {% include 'shared/messages.html' %}
<div class="row">
    <div class="col-sm-6 offset-3 shadow rounded" style="background-color: #ffffcc;font-weight: bold;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Visitor registration</h1>
            </div>
            <div class="panel-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="panel-footer">
                        <br>
                        <button type="submit" class="btn btn-block btn-success w-100 fw-bold fs-5" style="font-weight: bold;">SUBMIT</button>
                    </div>
                </form>
            </div>
           
        </div>
        <br>
    </div>
    <br>
</div>

{% endblock display %}
    
    