/* template design */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #ffffff;
}

.sidebar{
    background: #300934;
    backdrop-filter: blur(15px);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar{
    width: 10px;
}

.sidebar::-webkit-scrollbar-track{
    background-color: #e0e0e0;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: #6969;
} 

.sidebar .menu{
    width: 100%;
    margin-top: 10px;
}

.sidebar .menu .item{
    position:relative;
    cursor: pointer;
}

.sidebar .menu .item a{
    color: #fff;
    /* background: #300934; */
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 34px;
    line-height: 35px;
}

.sidebar .menu .item a:hover{
    border: green;
    font-size: large;
    font-weight: 450;
    /* background: #ffffff; */
    /* color: #300934; */
    transition: 0.15s ease;
    /* border-right: #ffffff; */
    border-bottom-width: 25px;
}


.sidebar .menu .item i{
    margin-right: 15px;
}

.sidebar .menu .dropdown-container a{
    background-color: #300934;
}

.dropdown-toggle {
    padding: 0px 0px 20px 0px;
    text-decoration: none;
    font-size: 20px;
    border-color: #262626;
    color: #818181;
    display: flex;
    flex-direction: row;
    /* padding-left: inherit; */
    border: none;
    background: none;
    /* width: 100%; */
    height: 10px;
    /* text-align: center; */
    cursor: pointer;
    outline: none;
}

.dropdown-toggle::after{
    transform: translate(-50px,8px);
}


.dropdown-btn:hover {
    color: greenyellow;
}

.dropdown-container {
    display: none;
    background-color:#300934;
    padding-left: 30px;
}

.menu .align-items-center .dropdown-container .sub-item {
    background-color: #02747c;
}


.align-items-center {
    align-items: center;
}


.rounded-circle {
    border-radius:50% !important;
}

.end-0{
    right:0 !important;
}

.bottom-0{
    bottom:0 !important;
}

.border{
    border:1px solid #000 !important;
}

.border-2{
    border-width:2px !important;
}

.border-white{
    border-color:#fff !important;
}

.ms-3{margin-left:0.6rem !important;}

.mb-3{margin-bottom:1.5rem !important;}

.ms-4{margin-left:1.5rem !important;}

.ms-4{margin-left:3rem !important;}

.content{
    margin-left: 250px;
}

.item .active{
    font-size: large;
    font-weight: 500;
    background: #ffffff;
    border-right: greenyellow;
    /* color: #300934; */
    transition: 0.15s ease;
}