{% extends 'shared/directorpanel.html' %}
{% load static %}

{% block title %}
    <title>View Enclosures</title>
{% endblock title %}

{% block pagetitle %}    

<div class="d-flex justify-content-between">
    <h1>View enclosures</h1>
    <a href="{% url 'director_view_dismantled_enclosures' %}" class="btn btn-secondary fw-bold"><i class="bi bi-eye"></i>&nbsp;&nbsp; Dismantled Enclosures</a>
</div>

{% include 'shared/messages.html' %}

{% endblock pagetitle %}


{% block display %}

<div class="row">
    <div class="col-sm-8 offset-1">
        <table class="table table-stripped datatable" style="height: inherit;">
            <thead>
                <tr>
                    <th>SI No.</th>
                    <th>Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            
            
            {% for enclosure in enclosures %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{enclosure.name}}</td>
                
                {% if enclosure.archieved == True %}
                    <td>Archived</td>
                {% else %}
                    <td>Opened</td>
                {% endif %}
                    
            </tr>
            {% endfor %}
                
        </table>
    </div>
</div>


{% endblock display %}
    