{% extends 'shared/directorpanel.html' %}
}
{% block title %}
    <title>Manage Sponser</title>
{% endblock title %}

{% block pagetitle %}

<div class="d-flex justify-content-between">
    <h1>Manage Sponsers</h1>
    <a href="{% url 'director_add_sponser' %}" class="btn btn-success text-white" style="width:max-content;"> <b>+ Add Sponser</b> </a>
</div>

{% include 'shared/messages.html' %}

{% endblock pagetitle %}


{% block display %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripped datatable" style="height: inherit;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Joined date</th>
                        <th>Notes</th>
                        <th>Animals</th>
                        <th>Action</th> 
                    </tr>
                </thead>
                
                {% for sponser in sponsers %}
                <tr>
                    <td>{{sponser.name}}</td>
                    <td>{{sponser.address}}</td>
                    <td>{{sponser.phone}}</td>
                    <td>{{sponser.email}}</td>
                    <td>{{sponser.stype}}</td>
                    <td>{{sponser.joined_date}}</td>
                    <td>{{sponser.notes}}</td>
                    <td>
                        <a href="{% url 'director_view_sponsered_animals' sponser.id %}" class="btn btn-secondary"><i class="bi bi-eye"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'director_update_sponser' sponser.id %}" class="btn btn-success text-white my-1">Update</a>
                        <a href="{% url 'director_delete_sponser' sponser.id %}" onclick="return confirm('are you sure?,You will lose sponsered animal list also.')" class="btn btn-danger text-white">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                    
            </table>
        </div>
    </div>
        
{% endblock display %}
    