{% extends 'shared/directorpanel.html' %}
}
{% block title %}
    <title>Manage Events</title>
{% endblock title %}

{% block pagetitle %}

<div class="d-flex justify-content-between">
    <h1>Manage Events</h1>
    <a href="{% url 'director_add_event' %}" class="btn btn-success text-white" style="width:max-content;"> <b>+ Add Event</b> </a>
</div>

{% include 'shared/messages.html' %}

{% endblock pagetitle %}


{% block display %}

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripped datatable" style="height: inherit;">
                <thead>
                    <tr>
                        <th>SI No.</th>
                        <th>Name</th>
                        <th>Starting date</th>
                        <th>Ending date</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                
                {% for event in events %}
                <tr style="padding-left: 50px;">
                    <td>{{forloop.counter}}</td>
                    <td>{{event.ename}}</td>
                    <td>{{event.estart}}</td>
                    <td>{{event.eend}}</td>
                    <td>
                        <img src="{{event.eimage.url}}" height="50px" width="100px">
                    </td>
                    <td>{{event.estatus}}</td>
                        
                    <td>   
                        {% if event.estatus == 'finished' %}
                            <i>Not available</i>
                        {% else %}
                        <a href="{% url 'director_update_event' event.id %}" class="btn btn-success text-white">
                          Update
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                    
            </table>
        </div>
    </div>
        
{% endblock display %}
    