{% extends 'shared/directorpanel.html' %}
{% load static %}

{% block title %}
    <title>Zoo Report [{{from}} &nbsp;&nbsp; To &nbsp;&nbsp; {{to}} ]</title>
{% endblock title %}
    
{% block pagetitle %}

<div class="d-flex justify-content-between">
    <h1>View Report</h1>
</div>

{% include 'shared/messages.html' %}
{% endblock pagetitle %}


{% block display %}

<style>
    .dataTable-table > tbody > tr > td, 
    .dataTable-table > tbody > tr > th{
        vertical-align: middle;
    }
    .table, th, td{
        border :1px solid black;
    }
</style>

<div class="col-sm-12 bg-light w-100 p-3">
    <form method="post" class="form-inline" id="reportForm">
        {% csrf_token %}
        <table style="border:none;">
            <tr>
                <th style="border: none;">
                    <div class="form-group px-4 mx-4">
                        <label for="from">From:</label>&nbsp;&nbsp;
                        <input type="date" name="from" id="from" required>
                    </div>
                </th>
                
                <th style="border: none;">
                    <div class="form-group px-4 mx-4">
                        <label for="to">To:</label>&nbsp;&nbsp;
                        <input type="date" name="to" id="to" required>
                    </div>
                </th>
                <th style="border: none;">
                    <div class="px-5 mx-5">
                        <button type="submit" class="btn btn-success">Generate Report</button>
                    </div>
                </th>  
            </tr>
        </table>        
    </form>
</div>


{% if report %}
<div class="my-4"></div>

<div class="container my-5">
    <button class="btn btn-secondary" id="report-print">Print</button>
    <br><br>
    <table class="table table-borderless" id="report">
        <thead>
           
        </thead>
        <tr>
            <th colspan="2">
                <h2 class="text-center fw-bold">Zoo Report</h2>
                <h3 class="text-center fw-bold">[{{from}} &nbsp;&nbsp; To &nbsp;&nbsp; {{to}} ]</h3>
            </th>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Staff details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of staffs added
            </th>
            <td>
                {% if staffs != 0 %}
                    {{staffs}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                Total staffs
            </th>
            <td>
                {{total_staffs}}  
            </td>
            
        </tr>
       
        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Visitor details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of visitors registered
            </th>
            <td>
                {% if visitors != 0 %}
                    {{visitors}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                Total visitors
            </th>
            <td>
                {{total_visitors}}  
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Feedback details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of feedbacks recieved
            </th>
            <td>
                {% if feedback != 0 %}
                    {{feedback}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                Replied
            </th>
            <td>
                {% if feedback_replied != 0 %}
                    {{feedback_replied}}  
                {% else %}
                    None
                {% endif %}    
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Complaint details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of complaints recieved
            </th>
            <td>
                {% if complaint != 0 %}
                    {{complaint}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                Replied
            </th>
            <td>
                {% if complaint_replied != 0 %}
                    {{complaint_replied}}  
                {% else %}
                    None
                {% endif %}    
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Ticket details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of tickets sold
            </th>
            <td>
                {% if ticket != 0 %}
                    {{ticket}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                No. of people visited
            </th>
            <td>
                {% if visited_people != 0 %}
                    {{visited_people}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                Ticket revenue
            </th>
            <td>
                {{ticket_revenue}}                
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Enclosure details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of enclosures
            </th>
            <td>
                {{enclosure_count}}     
            </td>
        </tr>
        <tr>
            <th>
                Enclosures
            </th>
            <td>
                {% for enclosure in enclosure_name %}
                    {{enclosure}} <br>
                {% endfor %}  
            </td>
        </tr>
        <tr>
            <th>
                Archived
            </th>
            <td>
                {{archived_count}} 
            </td>
        </tr>
        {% if archived_count != 0 %}
        <tr>
            <th>
                Archived Enclosures
            </th>
            <td>                    
                    {% for a in archived %}
                        {{a.name}} <br>
                    {% endfor %}
                
            </td>
        </tr>
        {% endif %}

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Animal details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of animals added
            </th>
            <td>
                {% if animals != 0 %}
                    {{animals}}
                {% else %}
                    None
                {% endif %}     
            </td>
        </tr>
        <tr>
            <th>
                Total animals
            </th>
            <td>
                {{total_animals}}                
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Transfer details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of animals transffered from the zoo
            </th>
            <td>
                {{transfer_from}}     
            </td>
        </tr>
        <tr>
            <th>
                No. of animals transffered to the zoo
            </th>
            <td>
                {{transfer_to}}                
            </td>
        </tr>
        <tr>
            <th>
                Total Expense
            </th>
            <td>
                {{transfer_expenditure}}                
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Medicine details</h4>
            </th>
        </tr>
        <tr>
            <th>
                Total no. of medicines
            </th>
            <td>
                {{total_medicines}}     
            </td>
        </tr>
        <tr>
            <th>
                No. of medicines in stock
            </th>
            <td>
                {{stock_medicines}}                
            </td>
        </tr>
        <tr>
            <th>
                No. of medicines out of stock
            </th>
            <td>
                {{out_of_stock_nedicines}}                
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Sickness details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of animals got sickness
            </th>
            <td>
                {{sickness_count}}     
            </td>
        </tr>
        <tr>
            <th>
                No. of animals cured
            </th>
            <td>
                {{cured}}                
            </td>
        </tr>
        <tr>
            <th>
                No. of animals still sick
            </th>
            <td>
                {{sick}}                
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Purchase details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of items purchased
            </th>
            <td>
                {{purchase}}     
            </td>
        </tr>
        <tr>
            <th>
                Purchase expenditure
            </th>
            <td>
                {{purchase_expenditure}}                
            </td>
        </tr>

        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Events details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of events occured
            </th>
            <td>
                {{events}}     
            </td>
        </tr>
        <tr>
            <th>
                Event names
            </th>
            <td>
                {% for event in event_names %}
                    {{event.name}} <br>               
                {% empty %}
                None
                {% endfor %}
            </td>
        </tr>
        
        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Vacancy details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of vacancy issued
            </th>
            <td>
                {{vacancy}}     
            </td>
        </tr>
        <tr>
            <th>
                No. of applications recieved (in this period)
            </th>
            <td>
                {{application_recieved}}  
            </td>
        </tr>
        <tr>
            <th>
                No. of total applications accepted (in this period)
            </th>
            <td>
                {{application_accepted}}  
            </td>
        </tr>
        <tr>
            <th>
                No. of total applications rejected (in this period)
            </th>
            <td>
                {{application_rejected}}  
            </td>
        </tr>
        
        <tr>
            <th colspan="2">
                <h4 style="width: fit-content;font-weight: bold;">Sponser details</h4>
            </th>
        </tr>
        <tr>
            <th>
                No. of sponsers registered
            </th>
            <td>
                {{sponser}}     
            </td>
        </tr>
        <tr>
            <th>
                No. of animals sponsered
            </th>
            <td>
                {{sponsered_animals}}  
            </td>
        </tr>
        <tr>
            <th>
                Total sponsership revenue
            </th>
            <td>
                {{sponser_revenue}}  
            </td>
        </tr>

        <tr>
            <th colspan="2">
                
            </th>
        </tr>
        

        <tr>
            <th>
                Total Expense
            </th>
            <td>
                {{total_expense}}
            </td>
        </tr>

        <tr>
            <th>
                Total Revenue
            </th>
            <td>
                {{total_revenue}}
            </td>
        </tr>

    </table>
</div>
{% endif %}    

<script>
    $(document).ready(function() {
        
        $("#report-print").click(function() {
            var table = $("#report").clone(); // create a copy of the table
            var printWindow = window.open('', '', 'height=600,width=800'); // open a new window
            printWindow.document.write('<html><head><title>Zoo Report</title>');
            printWindow.document.write('</head><body>');
            printWindow.document.write(table[0].outerHTML); // write the table HTML to the new window
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.focus();
            printWindow.print(); // print the new window
            printWindow.close(); // close the new window
        });

    })

    
</script>


{% endblock display %}


    