{% extends 'shared/directorpanel.html' %}

{% block title %}
    <title>Zoo Time</title>
{% endblock title %}

{% block pagetitle %}
    
<div class="d-flex justify-content-between">
    <h1>Manage zoo time</h1>
</div>

{% include 'shared/messages.html' %}

{% endblock pagetitle %}

{% block display %}

<div class="container" style="height: 80vh;">
        <div class="row">
            <div class="col-sm-7">
                <table class="table table-stripped" style="height: inherit;margin-left: 150px;">
                    <tr>
                        <th>Day</th>
                        <th>Open time</th>
                        <th>Close time</th>
                        <th colspan="2">Action</th>
                    </tr>
                    
                    {% for time in time %}
                    <tr>
                        <td>{{time.day}}</td>
                        <td>
                            
                            {% if time.holiday != True %}
                                {{time.open_time}}
                            {% else %}
                                Holiday
                            {% endif %}
                        </td>
                        <td>
                            {% if time.holiday != True %}
                                {{time.close_time}}
                            {% else %}
                                Holiday
                            {% endif %}
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#zootimemodal{{time.id}}" data-backdrop="static" class="btn btn-block btn-success text-white">Update</button>
                           
                            <div class="modal fade" id="zootimemodal{{time.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                            <div class="modal-header">
                                                    <h5 class="modal-title">Update Time</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                        <div class="modal-body">
                                        
                                            <form method="post" class="font-weight-bold">
                                                
                                            {% csrf_token %}
                                            <input type="hidden" name="id" id="id" value="{{time.id}}">
                                            {{timeform.day.label}} &nbsp;&nbsp;&nbsp;
                                            <input class="form-control" type="text" name="day" id="day" value="{{time.day}}" disabled>
                                                <br>
                                                <p>Current opening time : {{time.open_time | time:"h:i"}}</p>
                                            {{timeform.open_time.label}} &nbsp;&nbsp;&nbsp;
                                            <input class="form-control" type="time" name="open time" id="open time" value="{{time.open_time}}" required>
                                                <br>
                                                <p>Current closing time : {{time.close_time | time:"h:i"}}</p>
                                            {{timeform.close_time.label}} &nbsp;&nbsp;&nbsp;
                                            <input class="form-control" type="time" name="close time" id="close time" value="{{time.close_time}}" required>
                                            <!-- {{timeform.as_p}} -->
                                            <br>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success btn-block w-100">Update</button>
                                            </div>
                                             </form>                
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                              </div>
                            
                        </td>
                        <td>
                            
                            {% if time.holiday == False %}
                                <a href="{% url 'director_mark_holiday' time.id %}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Mark Holiday</a> 
                            {% endif %}
                                
                        </td>
                    </tr>
                    {% endfor %}
                        
                </table>
            </div>
        </div>
    </div>

  
  <!-- Modal -->
  
{% endblock display %}
    