{% extends 'shared/directorpanel.html' %}

{% block title %}
    <title>Ticket Sales</title>
{% endblock title %}

{% block pagetitle %}
    
<div class="d-flex justify-content-between">
    <h1>View Ticket Sales</h1>
</div>

<br>
{% endblock pagetitle %}


{% block display %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <table class="table table-stripped datatable" style="height: inherit;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>No.of tickets sold</th>   
                    <th>Revenue</th>
                </tr>
            </thead>

            {% for ticket in tickets %}
            <tr>
                <td>{{ticket.tdate}}</td>
                <td>{{ticket.tcount}}</td>    
                <td>{{ticket.revenue}}</td>             
            </tr>
            {% endfor %}
                
                
        </table>

    </div>
</div>

{% endblock display %}
    