{% extends 'shared/directorpanel.html' %}


{% block pagetitle %}
    

<div class="d-flex justify-content-between">
    <h1>Visitors List</h1>
</div>

<br>
{% endblock pagetitle %}

{% block display %}

<div class="container" style="height: 80vh;">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-stripped datatable" style="height: inherit;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Address</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    
                    
                    {% for visitor in visitors %}
                    <tr>
                        <td>{{visitor.first_name}} {{visitor.last_name}}</td>
                        <td>{{visitor.username}}</td>
                        <td>{{visitor.email}}</td>
                        
                        {% if visitor.gender == 'm' %}
                        <td>Male</td>
                        {% else %}
                        <td>Female</td>
                        {% endif %}
                            
                        <td>{{visitor.dob}}</td>
                        <td>{{visitor.house_name}} <br> {{visitor.street}},{{visitor.city}},<br>{{visitor.state}},{{visitor.country}}</td>
                        <td>{{visitor.phone}}</td>
                    </tr>
                    {% endfor %}
                        
                </table>
            </div>
        </div>
    </div>
    
{% endblock display %}