
<!-- Modal -->
<div class="modal fade" id="complaintmodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give Complaint</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                                        
                    {% csrf_token %}
                    <label for="">Recipient</label>
                    <select class="form-control" name="recipient" id="recipient">
                        {% for recipient in recipients %}
                        <option value="{{recipient.id}}">{{recipient.username}}&nbsp;({{recipient.usertype}})</option>
                        {% endfor %}
                    </select>
                        

                    {{ form.as_p }}
                    <br>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-block btn-success w-100">SEND</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>